# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
.env.local
*.log
*.pot
*.pyc
.DS_Store

# Venv/IDE
.venv/
.idea/
.vscode/
*.code-workspace

# Django/DRF
staticfiles/
media/
*.bak

# Tests/Coverage
.pytest_cache/
.coverage
htmlcov/

# Docker
*.pid
